.swiper-pagination {
  width: 100%;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.swiper-pagination-bullet {
  border-radius: 3px;
  background-color: #c4c4c4;
  width: 6px;
  height: 6px;
  flex-shrink: 0;
  transition: all 0.3s linear;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 9px;
  background-color: #c84b6a;
}
